.red {
    color: red; 
}
  
.bold {
    font-weight: bold;
}

.button {
    background-color: green;
    color: white;
    font: inherit;
    padding: 16px;
    border: 1px solid blue;
    cursor: pointer;
}

.button:hover {
    background-color: lightgreen;
    color: black;
}

.button.Red {
    background-color: red;
}

.button.Red:hover {
    background-color: purple;
    color: black;
}
  